*{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body{
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#botao{
  width: 250px;
  height: 55px;

  background-color: #72005F;
  color: white;

  font-size: 18px;
  font-weight: bold;

  border-radius: 16px;
  border: none;

  cursor: pointer;

  margin-top: 40px;
}

h2{
  color: #BAA193;
  font-size: 52px;
}

h1{
  color: #72005F;
  font-size: 120px;
}


.container{
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 980px;
  height: 100vh;
}

.bode{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 400px;
  height: 500px;
  margin-bottom: 180px;
}

